name: Build and Deploy Docker Container
on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  WEBAPP_IMAGE_NAME: reneasy/prince-geoffrey

jobs:
  build-publish-webapp:
    name: Build and deploy webapp container
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Add SSH key for Ansible
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.PRIVATE_KEY }}"
          echo -e "${{ secrets.PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          cat ~/.ssh/id_ed25519
          chmod 700 ~/.ssh/id_ed25519
          ssh-keyscan -H ${{ secrets.SERVER_IP }} >> ~/.ssh/known_hosts
          ssh -v -i ~/.ssh/id_ed25519 root@${{ secrets.SERVER_IP }} "echo 'SSH is working!'"

      - name: Create .env file
        run: echo "${{ secrets.ENV_FILE }}" > .env

      - name: Display .env file content (for debugging)
        run: cat .env
